.layui-upload-img{
    margin-left: 10px;
    height: 100px;
    width: auto;
    border:solid 1px white;
    border-radius:15px;
    cursor: pointer;
   /*cursor: no-drop;*/
}
.to-examine input{
    cursor: Default;
}
.to-examine textarea{
    cursor: Default;
}
#status-checkBox div{
    cursor: Default !important;
}
#status-checkBox button{
    cursor: no-drop;
}

.add-img-edit{
    margin-left: 10px;
    font-size: 70px!important;
    height: 100px!important;
    width: 100px !important;
    cursor: pointer!important;
}
.delete-img-button{
    border-radius:20px;
    height: 20px;
    width: 20px;
    background: red;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    position: absolute;
    margin-left: -23px;
    margin-top: 1px;
    display: none;
}
.layui-upload-img{
    height: 100px
}